ul.glyphicon-bullet-list {
    list-style: none;
}

ul.glyphicon-bullet-list li::before {
    font-family: 'Glyphicons Halflings';
    float: left;
    margin-top: 0px;
    margin-left: -22px;
}

ul.list-asterix li::before {
    content: "\002a";
}
ul.list-plus li::before {
    content: "\002b";
}
ul.list-euro li::before,
ul.list-eur li::before {
  content: "\20ac";
}
ul.list-minus li::before {
  content: "\2212";
}
ul.list-cloud li::before {
  content: "\2601";
}
ul.list-envelope li::before {
  content: "\2709";
}
ul.list-pencil li::before {
  content: "\270f";
}
ul.list-glass li::before {
  content: "\e001";
}
ul.list-music li::before {
  content: "\e002";
}
ul.list-search li::before {
  content: "\e003";
}
ul.list-heart li::before {
  content: "\e005";
}
ul.list-star li::before {
  content: "\e006";
}
ul.list-star-empty li::before {
  content: "\e007";
}
ul.list-user li::before {
  content: "\e008";
}
ul.list-film li::before {
  content: "\e009";
}
ul.list-th-large li::before {
  content: "\e010";
}
ul.list-th li::before {
  content: "\e011";
}
ul.list-th-list li::before {
  content: "\e012";
}
ul.list-ok li::before {
  content: "\e013";
}
ul.list-remove li::before {
  content: "\e014";
}
ul.list-zoom-in li::before {
  content: "\e015";
}
ul.list-zoom-out li::before {
  content: "\e016";
}
ul.list-off li::before {
  content: "\e017";
}
ul.list-signal li::before {
  content: "\e018";
}
ul.list-cog li::before {
  content: "\e019";
}
ul.list-trash li::before {
  content: "\e020";
}
ul.list-home li::before {
  content: "\e021";
}
ul.list-file li::before {
  content: "\e022";
}
ul.list-time li::before {
  content: "\e023";
}
ul.list-road li::before {
  content: "\e024";
}
ul.list-download-alt li::before {
  content: "\e025";
}
ul.list-download li::before {
  content: "\e026";
}
ul.list-upload li::before {
  content: "\e027";
}
ul.list-inbox li::before {
  content: "\e028";
}
ul.list-play-circle li::before {
  content: "\e029";
}
ul.list-repeat li::before {
  content: "\e030";
}
ul.list-refresh li::before {
  content: "\e031";
}
ul.list-list-alt li::before {
  content: "\e032";
}
ul.list-lock li::before {
  content: "\e033";
}
ul.list-flag li::before {
  content: "\e034";
}
ul.list-headphones li::before {
  content: "\e035";
}
ul.list-volume-off li::before {
  content: "\e036";
}
ul.list-volume-down li::before {
  content: "\e037";
}
ul.list-volume-up li::before {
  content: "\e038";
}
ul.list-qrcode li::before {
  content: "\e039";
}
ul.list-barcode li::before {
  content: "\e040";
}
ul.list-tag li::before {
  content: "\e041";
}
ul.list-tags li::before {
  content: "\e042";
}
ul.list-book li::before {
  content: "\e043";
}
ul.list-bookmark li::before {
  content: "\e044";
}
ul.list-print li::before {
  content: "\e045";
}
ul.list-camera li::before {
  content: "\e046";
}
ul.list-font li::before {
  content: "\e047";
}
ul.list-bold li::before {
  content: "\e048";
}
ul.list-italic li::before {
  content: "\e049";
}
ul.list-text-height li::before {
  content: "\e050";
}
ul.list-text-width li::before {
  content: "\e051";
}
ul.list-align-left li::before {
  content: "\e052";
}
ul.list-align-center li::before {
  content: "\e053";
}
ul.list-align-right li::before {
  content: "\e054";
}
ul.list-align-justify li::before {
  content: "\e055";
}
ul.list-list li::before {
  content: "\e056";
}
ul.list-indent-left li::before {
  content: "\e057";
}
ul.list-indent-right li::before {
  content: "\e058";
}
ul.list-facetime-video li::before {
  content: "\e059";
}
ul.list-picture li::before {
  content: "\e060";
}
ul.list-map-marker li::before {
  content: "\e062";
}
ul.list-adjust li::before {
  content: "\e063";
}
ul.list-tint li::before {
  content: "\e064";
}
ul.list-edit li::before {
  content: "\e065";
}
ul.list-share li::before {
  content: "\e066";
}
ul.list-check li::before {
  content: "\e067";
}
ul.list-move li::before {
  content: "\e068";
}
ul.list-step-backward li::before {
  content: "\e069";
}
ul.list-fast-backward li::before {
  content: "\e070";
}
ul.list-backward li::before {
  content: "\e071";
}
ul.list-play li::before {
  content: "\e072";
}
ul.list-pause li::before {
  content: "\e073";
}
ul.list-stop li::before {
  content: "\e074";
}
ul.list-forward li::before {
  content: "\e075";
}
ul.list-fast-forward li::before {
  content: "\e076";
}
ul.list-step-forward li::before {
  content: "\e077";
}
ul.list-eject li::before {
  content: "\e078";
}
ul.list-chevron-left li::before {
  content: "\e079";
}
ul.list-chevron-right li::before {
  content: "\e080";
}
ul.list-plus-sign li::before {
  content: "\e081";
}
ul.list-minus-sign li::before {
  content: "\e082";
}
ul.list-remove-sign li::before {
  content: "\e083";
}
ul.list-ok-sign li::before {
  content: "\e084";
}
ul.list-question-sign li::before {
  content: "\e085";
}
ul.list-info-sign li::before {
  content: "\e086";
}
ul.list-screenshot li::before {
  content: "\e087";
}
ul.list-remove-circle li::before {
  content: "\e088";
}
ul.list-ok-circle li::before {
  content: "\e089";
}
ul.list-ban-circle li::before {
  content: "\e090";
}
ul.list-arrow-left li::before {
  content: "\e091";
}
ul.list-arrow-right li::before {
  content: "\e092";
}
ul.list-arrow-up li::before {
  content: "\e093";
}
ul.list-arrow-down li::before {
  content: "\e094";
}
ul.list-share-alt li::before {
  content: "\e095";
}
ul.list-resize-full li::before {
  content: "\e096";
}
ul.list-resize-small li::before {
  content: "\e097";
}
ul.list-exclamation-sign li::before {
  content: "\e101";
}
ul.list-gift li::before {
  content: "\e102";
}
ul.list-leaf li::before {
  content: "\e103";
}
ul.list-fire li::before {
  content: "\e104";
}
ul.list-eye-open li::before {
  content: "\e105";
}
ul.list-eye-close li::before {
  content: "\e106";
}
ul.list-warning-sign li::before {
  content: "\e107";
}
ul.list-plane li::before {
  content: "\e108";
}
ul.list-calendar li::before {
  content: "\e109";
}
ul.list-random li::before {
  content: "\e110";
}
ul.list-comment li::before {
  content: "\e111";
}
ul.list-magnet li::before {
  content: "\e112";
}
ul.list-chevron-up li::before {
  content: "\e113";
}
ul.list-chevron-down li::before {
  content: "\e114";
}
ul.list-retweet li::before {
  content: "\e115";
}
ul.list-shopping-cart li::before {
  content: "\e116";
}
ul.list-folder-close li::before {
  content: "\e117";
}
ul.list-folder-open li::before {
  content: "\e118";
}
ul.list-resize-vertical li::before {
  content: "\e119";
}
ul.list-resize-horizontal li::before {
  content: "\e120";
}
ul.list-hdd li::before {
  content: "\e121";
}
ul.list-bullhorn li::before {
  content: "\e122";
}
ul.list-bell li::before {
  content: "\e123";
}
ul.list-certificate li::before {
  content: "\e124";
}
ul.list-thumbs-up li::before {
  content: "\e125";
}
ul.list-thumbs-down li::before {
  content: "\e126";
}
ul.list-hand-right li::before {
  content: "\e127";
}
ul.list-hand-left li::before {
  content: "\e128";
}
ul.list-hand-up li::before {
  content: "\e129";
}
ul.list-hand-down li::before {
  content: "\e130";
}
ul.list-circle-arrow-right li::before {
  content: "\e131";
}
ul.list-circle-arrow-left li::before {
  content: "\e132";
}
ul.list-circle-arrow-up li::before {
  content: "\e133";
}
ul.list-circle-arrow-down li::before {
  content: "\e134";
}
ul.list-globe li::before {
  content: "\e135";
}
ul.list-wrench li::before {
  content: "\e136";
}
ul.list-tasks li::before {
  content: "\e137";
}
ul.list-filter li::before {
  content: "\e138";
}
ul.list-briefcase li::before {
  content: "\e139";
}
ul.list-fullscreen li::before {
  content: "\e140";
}
ul.list-dashboard li::before {
  content: "\e141";
}
ul.list-paperclip li::before {
  content: "\e142";
}
ul.list-heart-empty li::before {
  content: "\e143";
}
ul.list-link li::before {
  content: "\e144";
}
ul.list-phone li::before {
  content: "\e145";
}
ul.list-pushpin li::before {
  content: "\e146";
}
ul.list-usd li::before {
  content: "\e148";
}
ul.list-gbp li::before {
  content: "\e149";
}
ul.list-sort li::before {
  content: "\e150";
}
ul.list-sort-by-alphabet li::before {
  content: "\e151";
}
ul.list-sort-by-alphabet-alt li::before {
  content: "\e152";
}
ul.list-sort-by-order li::before {
  content: "\e153";
}
ul.list-sort-by-order-alt li::before {
  content: "\e154";
}
ul.list-sort-by-attributes li::before {
  content: "\e155";
}
ul.list-sort-by-attributes-alt li::before {
  content: "\e156";
}
ul.list-unchecked li::before {
  content: "\e157";
}
ul.list-expand li::before {
  content: "\e158";
}
ul.list-collapse-down li::before {
  content: "\e159";
}
ul.list-collapse-up li::before {
  content: "\e160";
}
ul.list-log-in li::before {
  content: "\e161";
}
ul.list-flash li::before {
  content: "\e162";
}
ul.list-log-out li::before {
  content: "\e163";
}
ul.list-new-window li::before {
  content: "\e164";
}
ul.list-record li::before {
  content: "\e165";
}
ul.list-save li::before {
  content: "\e166";
}
ul.list-open li::before {
  content: "\e167";
}
ul.list-saved li::before {
  content: "\e168";
}
ul.list-import li::before {
  content: "\e169";
}
ul.list-export li::before {
  content: "\e170";
}
ul.list-send li::before {
  content: "\e171";
}
ul.list-floppy-disk li::before {
  content: "\e172";
}
ul.list-floppy-saved li::before {
  content: "\e173";
}
ul.list-floppy-remove li::before {
  content: "\e174";
}
ul.list-floppy-save li::before {
  content: "\e175";
}
ul.list-floppy-open li::before {
  content: "\e176";
}
ul.list-credit-card li::before {
  content: "\e177";
}
ul.list-transfer li::before {
  content: "\e178";
}
ul.list-cutlery li::before {
  content: "\e179";
}
ul.list-header li::before {
  content: "\e180";
}
ul.list-compressed li::before {
  content: "\e181";
}
ul.list-earphone li::before {
  content: "\e182";
}
ul.list-phone-alt li::before {
  content: "\e183";
}
ul.list-tower li::before {
  content: "\e184";
}
ul.list-stats li::before {
  content: "\e185";
}
ul.list-sd-video li::before {
  content: "\e186";
}
ul.list-hd-video li::before {
  content: "\e187";
}
ul.list-subtitles li::before {
  content: "\e188";
}
ul.list-sound-stereo li::before {
  content: "\e189";
}
ul.list-sound-dolby li::before {
  content: "\e190";
}
ul.list-sound-5-1 li::before {
  content: "\e191";
}
ul.list-sound-6-1 li::before {
  content: "\e192";
}
ul.list-sound-7-1 li::before {
  content: "\e193";
}
ul.list-copyright-mark li::before {
  content: "\e194";
}
ul.list-registration-mark li::before {
  content: "\e195";
}
ul.list-cloud-download li::before {
  content: "\e197";
}
ul.list-cloud-upload li::before {
  content: "\e198";
}
ul.list-tree-conifer li::before {
  content: "\e199";
}
ul.list-tree-deciduous li::before {
  content: "\e200";
}
ul.list-cd li::before {
  content: "\e201";
}
ul.list-save-file li::before {
  content: "\e202";
}
ul.list-open-file li::before {
  content: "\e203";
}
ul.list-level-up li::before {
  content: "\e204";
}
ul.list-copy li::before {
  content: "\e205";
}
ul.list-paste li::before {
  content: "\e206";
}
ul.list-alert li::before {
  content: "\e209";
}
ul.list-equalizer li::before {
  content: "\e210";
}
ul.list-king li::before {
  content: "\e211";
}
ul.list-queen li::before {
  content: "\e212";
}
ul.list-pawn li::before {
  content: "\e213";
}
ul.list-bishop li::before {
  content: "\e214";
}
ul.list-knight li::before {
  content: "\e215";
}
ul.list-baby-formula li::before {
  content: "\e216";
}
ul.list-tent li::before {
  content: "\26fa";
}
ul.list-blackboard li::before {
  content: "\e218";
}
ul.list-bed li::before {
  content: "\e219";
}
ul.list-apple li::before {
  content: "\f8ff";
}
ul.list-erase li::before {
  content: "\e221";
}
ul.list-hourglass li::before {
  content: "\231b";
}
ul.list-lamp li::before {
  content: "\e223";
}
ul.list-duplicate li::before {
  content: "\e224";
}
ul.list-piggy-bank li::before {
  content: "\e225";
}
ul.list-scissors li::before {
  content: "\e226";
}
ul.list-bitcoin li::before {
  content: "\e227";
}
ul.list-btc li::before {
  content: "\e227";
}
ul.list-xbt li::before {
  content: "\e227";
}
ul.list-yen li::before {
  content: "\00a5";
}
ul.list-jpy li::before {
  content: "\00a5";
}
ul.list-ruble li::before {
  content: "\20bd";
}
ul.list-rub li::before {
  content: "\20bd";
}
ul.list-scale li::before {
  content: "\e230";
}
ul.list-ice-lolly li::before {
  content: "\e231";
}
ul.list-ice-lolly-tasted li::before {
  content: "\e232";
}
ul.list-education li::before {
  content: "\e233";
}
ul.list-option-horizontal li::before {
  content: "\e234";
}
ul.list-option-vertical li::before {
  content: "\e235";
}
ul.list-menu-hamburger li::before {
  content: "\e236";
}
ul.list-modal-window li::before {
  content: "\e237";
}
ul.list-oil li::before {
  content: "\e238";
}
ul.list-grain li::before {
  content: "\e239";
}
ul.list-sunglasses li::before {
  content: "\e240";
}
ul.list-text-size li::before {
  content: "\e241";
}
ul.list-text-color li::before {
  content: "\e242";
}
ul.list-text-background li::before {
  content: "\e243";
}
ul.list-object-align-top li::before {
  content: "\e244";
}
ul.list-object-align-bottom li::before {
  content: "\e245";
}
ul.list-object-align-horizontal li::before {
  content: "\e246";
}
ul.list-object-align-left li::before {
  content: "\e247";
}
ul.list-object-align-vertical li::before {
  content: "\e248";
}
ul.list-object-align-right li::before {
  content: "\e249";
}
ul.list-triangle-right li::before {
  content: "\e250";
}
ul.list-triangle-left li::before {
  content: "\e251";
}
ul.list-triangle-bottom li::before {
  content: "\e252";
}
ul.list-triangle-top li::before {
  content: "\e253";
}
ul.list-console li::before {
  content: "\e254";
}
ul.list-superscript li::before {
  content: "\e255";
}
ul.list-subscript li::before {
  content: "\e256";
}
ul.list-menu-left li::before {
  content: "\e257";
}
ul.list-menu-right li::before {
  content: "\e258";
}
ul.list-menu-down li::before {
  content: "\e259";
}
ul.list-menu-up li::before {
  content: "\e260";
}



li.list-asterix::before {
    content: "\002a" !important;
}
li.list-plus::before {
    content: "\002b" !important;
}
li.list-euro::before,
li.list-eur::before {
  content: "\20ac" !important;
}
li.list-minus::before {
  content: "\2212" !important;
}
li.list-cloud::before {
  content: "\2601" !important;
}
li.list-envelope::before {
  content: "\2709" !important;
}
li.list-pencil::before {
  content: "\270f" !important;
}
li.list-glass::before {
  content: "\e001" !important;
}
li.list-music::before {
  content: "\e002" !important;
}
li.list-search::before {
  content: "\e003" !important;
}
li.list-heart::before {
  content: "\e005" !important;
}
li.list-star::before {
  content: "\e006" !important;
}
li.list-star-empty::before {
  content: "\e007" !important;
}
li.list-user::before {
  content: "\e008" !important;
}
li.list-film::before {
  content: "\e009" !important;
}
li.list-th-large::before {
  content: "\e010" !important;
}
li.list-th::before {
  content: "\e011" !important;
}
li.list-th-list::before {
  content: "\e012" !important;
}
li.list-ok::before {
  content: "\e013" !important;
}
li.list-remove::before {
  content: "\e014" !important;
}
li.list-zoom-in::before {
  content: "\e015" !important;
}
li.list-zoom-out::before {
  content: "\e016" !important;
}
li.list-off::before {
  content: "\e017" !important;
}
li.list-signal::before {
  content: "\e018" !important;
}
li.list-cog::before {
  content: "\e019" !important;
}
li.list-trash::before {
  content: "\e020" !important;
}
li.list-home::before {
  content: "\e021" !important;
}
li.list-file::before {
  content: "\e022" !important;
}
li.list-time::before {
  content: "\e023" !important;
}
li.list-road::before {
  content: "\e024" !important;
}
li.list-download-alt::before {
  content: "\e025" !important;
}
li.list-download::before {
  content: "\e026" !important;
}
li.list-upload::before {
  content: "\e027" !important;
}
li.list-inbox::before {
  content: "\e028" !important;
}
li.list-play-circle::before {
  content: "\e029" !important;
}
li.list-repeat::before {
  content: "\e030" !important;
}
li.list-refresh::before {
  content: "\e031" !important;
}
li.list-list-alt::before {
  content: "\e032" !important;
}
li.list-lock::before {
  content: "\e033" !important;
}
li.list-flag::before {
  content: "\e034" !important;
}
li.list-headphones::before {
  content: "\e035" !important;
}
li.list-volume-off::before {
  content: "\e036" !important;
}
li.list-volume-down::before {
  content: "\e037" !important;
}
li.list-volume-up::before {
  content: "\e038" !important;
}
li.list-qrcode::before {
  content: "\e039" !important;
}
li.list-barcode::before {
  content: "\e040" !important;
}
li.list-tag::before {
  content: "\e041" !important;
}
li.list-tags::before {
  content: "\e042" !important;
}
li.list-book::before {
  content: "\e043" !important;
}
li.list-bookmark::before {
  content: "\e044" !important;
}
li.list-print::before {
  content: "\e045" !important;
}
li.list-camera::before {
  content: "\e046" !important;
}
li.list-font::before {
  content: "\e047" !important;
}
li.list-bold::before {
  content: "\e048" !important;
}
li.list-italic::before {
  content: "\e049" !important;
}
li.list-text-height::before {
  content: "\e050" !important;
}
li.list-text-width::before {
  content: "\e051" !important;
}
li.list-align-left::before {
  content: "\e052" !important;
}
li.list-align-center::before {
  content: "\e053" !important;
}
li.list-align-right::before {
  content: "\e054" !important;
}
li.list-align-justify::before {
  content: "\e055" !important;
}
li.list-list::before {
  content: "\e056" !important;
}
li.list-indent-left::before {
  content: "\e057" !important;
}
li.list-indent-right::before {
  content: "\e058" !important;
}
li.list-facetime-video::before {
  content: "\e059" !important;
}
li.list-picture::before {
  content: "\e060" !important;
}
li.list-map-marker::before {
  content: "\e062" !important;
}
li.list-adjust::before {
  content: "\e063" !important;
}
li.list-tint::before {
  content: "\e064" !important;
}
li.list-edit::before {
  content: "\e065" !important;
}
li.list-share::before {
  content: "\e066" !important;
}
li.list-check::before {
  content: "\e067" !important;
}
li.list-move::before {
  content: "\e068" !important;
}
li.list-step-backward::before {
  content: "\e069" !important;
}
li.list-fast-backward::before {
  content: "\e070" !important;
}
li.list-backward::before {
  content: "\e071" !important;
}
li.list-play::before {
  content: "\e072" !important;
}
li.list-pause::before {
  content: "\e073" !important;
}
li.list-stop::before {
  content: "\e074" !important;
}
li.list-forward::before {
  content: "\e075" !important;
}
li.list-fast-forward::before {
  content: "\e076" !important;
}
li.list-step-forward::before {
  content: "\e077" !important;
}
li.list-eject::before {
  content: "\e078" !important;
}
li.list-chevron-left::before {
  content: "\e079" !important;
}
li.list-chevron-right::before {
  content: "\e080" !important;
}
li.list-plus-sign::before {
  content: "\e081" !important;
}
li.list-minus-sign::before {
  content: "\e082" !important;
}
li.list-remove-sign::before {
  content: "\e083" !important;
}
li.list-ok-sign::before {
  content: "\e084" !important;
}
li.list-question-sign::before {
  content: "\e085" !important;
}
li.list-info-sign::before {
  content: "\e086" !important;
}
li.list-screenshot::before {
  content: "\e087" !important;
}
li.list-remove-circle::before {
  content: "\e088" !important;
}
li.list-ok-circle::before {
  content: "\e089" !important;
}
li.list-ban-circle::before {
  content: "\e090" !important;
}
li.list-arrow-left::before {
  content: "\e091" !important;
}
li.list-arrow-right::before {
  content: "\e092" !important;
}
li.list-arrow-up::before {
  content: "\e093" !important;
}
li.list-arrow-down::before {
  content: "\e094" !important;
}
li.list-share-alt::before {
  content: "\e095" !important;
}
li.list-resize-full::before {
  content: "\e096" !important;
}
li.list-resize-small::before {
  content: "\e097" !important;
}
li.list-exclamation-sign::before {
  content: "\e101" !important;
}
li.list-gift::before {
  content: "\e102" !important;
}
li.list-leaf::before {
  content: "\e103" !important;
}
li.list-fire::before {
  content: "\e104" !important;
}
li.list-eye-open::before {
  content: "\e105" !important;
}
li.list-eye-close::before {
  content: "\e106" !important;
}
li.list-warning-sign::before {
  content: "\e107" !important;
}
li.list-plane::before {
  content: "\e108" !important;
}
li.list-calendar::before {
  content: "\e109" !important;
}
li.list-random::before {
  content: "\e110" !important;
}
li.list-comment::before {
  content: "\e111" !important;
}
li.list-magnet::before {
  content: "\e112" !important;
}
li.list-chevron-up::before {
  content: "\e113" !important;
}
li.list-chevron-down::before {
  content: "\e114" !important;
}
li.list-retweet::before {
  content: "\e115" !important;
}
li.list-shopping-cart::before {
  content: "\e116" !important;
}
li.list-folder-close::before {
  content: "\e117" !important;
}
li.list-folder-open::before {
  content: "\e118" !important;
}
li.list-resize-vertical::before {
  content: "\e119" !important;
}
li.list-resize-horizontal::before {
  content: "\e120" !important;
}
li.list-hdd::before {
  content: "\e121" !important;
}
li.list-bullhorn::before {
  content: "\e122" !important;
}
li.list-bell::before {
  content: "\e123" !important;
}
li.list-certificate::before {
  content: "\e124" !important;
}
li.list-thumbs-up::before {
  content: "\e125" !important;
}
li.list-thumbs-down::before {
  content: "\e126" !important;
}
li.list-hand-right::before {
  content: "\e127" !important;
}
li.list-hand-left::before {
  content: "\e128" !important;
}
li.list-hand-up::before {
  content: "\e129" !important;
}
li.list-hand-down::before {
  content: "\e130" !important;
}
li.list-circle-arrow-right::before {
  content: "\e131" !important;
}
li.list-circle-arrow-left::before {
  content: "\e132" !important;
}
li.list-circle-arrow-up::before {
  content: "\e133" !important;
}
li.list-circle-arrow-down::before {
  content: "\e134" !important;
}
li.list-globe::before {
  content: "\e135" !important;
}
li.list-wrench::before {
  content: "\e136" !important;
}
li.list-tasks::before {
  content: "\e137" !important;
}
li.list-filter::before {
  content: "\e138" !important;
}
li.list-briefcase::before {
  content: "\e139" !important;
}
li.list-fullscreen::before {
  content: "\e140" !important;
}
li.list-dashboard::before {
  content: "\e141" !important;
}
li.list-paperclip::before {
  content: "\e142" !important;
}
li.list-heart-empty::before {
  content: "\e143" !important;
}
li.list-link::before {
  content: "\e144" !important;
}
li.list-phone::before {
  content: "\e145" !important;
}
li.list-pushpin::before {
  content: "\e146" !important;
}
li.list-usd::before {
  content: "\e148" !important;
}
li.list-gbp::before {
  content: "\e149" !important;
}
li.list-sort::before {
  content: "\e150" !important;
}
li.list-sort-by-alphabet::before {
  content: "\e151" !important;
}
li.list-sort-by-alphabet-alt::before {
  content: "\e152" !important;
}
li.list-sort-by-order::before {
  content: "\e153" !important;
}
li.list-sort-by-order-alt::before {
  content: "\e154" !important;
}
li.list-sort-by-attributes::before {
  content: "\e155" !important;
}
li.list-sort-by-attributes-alt::before {
  content: "\e156" !important;
}
li.list-unchecked::before {
  content: "\e157" !important;
}
li.list-expand::before {
  content: "\e158" !important;
}
li.list-collapse-down::before {
  content: "\e159" !important;
}
li.list-collapse-up::before {
  content: "\e160" !important;
}
li.list-log-in::before {
  content: "\e161" !important;
}
li.list-flash::before {
  content: "\e162" !important;
}
li.list-log-out::before {
  content: "\e163" !important;
}
li.list-new-window::before {
  content: "\e164" !important;
}
li.list-record::before {
  content: "\e165" !important;
}
li.list-save::before {
  content: "\e166" !important;
}
li.list-open::before {
  content: "\e167" !important;
}
li.list-saved::before {
  content: "\e168" !important;
}
li.list-import::before {
  content: "\e169" !important;
}
li.list-export::before {
  content: "\e170" !important;
}
li.list-send::before {
  content: "\e171" !important;
}
li.list-floppy-disk::before {
  content: "\e172" !important;
}
li.list-floppy-saved::before {
  content: "\e173" !important;
}
li.list-floppy-remove::before {
  content: "\e174" !important;
}
li.list-floppy-save::before {
  content: "\e175" !important;
}
li.list-floppy-open::before {
  content: "\e176" !important;
}
li.list-credit-card::before {
  content: "\e177" !important;
}
li.list-transfer::before {
  content: "\e178" !important;
}
li.list-cutlery::before {
  content: "\e179" !important;
}
li.list-header::before {
  content: "\e180" !important;
}
li.list-compressed::before {
  content: "\e181" !important;
}
li.list-earphone::before {
  content: "\e182" !important;
}
li.list-phone-alt::before {
  content: "\e183" !important;
}
li.list-tower::before {
  content: "\e184" !important;
}
li.list-stats::before {
  content: "\e185" !important;
}
li.list-sd-video::before {
  content: "\e186" !important;
}
li.list-hd-video::before {
  content: "\e187" !important;
}
li.list-subtitles::before {
  content: "\e188" !important;
}
li.list-sound-stereo::before {
  content: "\e189" !important;
}
li.list-sound-dolby::before {
  content: "\e190" !important;
}
li.list-sound-5-1::before {
  content: "\e191" !important;
}
li.list-sound-6-1::before {
  content: "\e192" !important;
}
li.list-sound-7-1::before {
  content: "\e193" !important;
}
li.list-copyright-mark::before {
  content: "\e194" !important;
}
li.list-registration-mark::before {
  content: "\e195" !important;
}
li.list-cloud-download::before {
  content: "\e197" !important;
}
li.list-cloud-upload::before {
  content: "\e198" !important;
}
li.list-tree-conifer::before {
  content: "\e199" !important;
}
li.list-tree-deciduous::before {
  content: "\e200" !important;
}
li.list-cd::before {
  content: "\e201" !important;
}
li.list-save-file::before {
  content: "\e202" !important;
}
li.list-open-file::before {
  content: "\e203" !important;
}
li.list-level-up::before {
  content: "\e204" !important;
}
li.list-copy::before {
  content: "\e205" !important;
}
li.list-paste::before {
  content: "\e206" !important;
}
li.list-alert::before {
  content: "\e209" !important;
}
li.list-equalizer::before {
  content: "\e210" !important;
}
li.list-king::before {
  content: "\e211" !important;
}
li.list-queen::before {
  content: "\e212" !important;
}
li.list-pawn::before {
  content: "\e213" !important;
}
li.list-bishop::before {
  content: "\e214" !important;
}
li.list-knight::before {
  content: "\e215" !important;
}
li.list-baby-formula::before {
  content: "\e216" !important;
}
li.list-tent::before {
  content: "\26fa" !important;
}
li.list-blackboard::before {
  content: "\e218" !important;
}
li.list-bed::before {
  content: "\e219" !important;
}
li.list-apple::before {
  content: "\f8ff" !important;
}
li.list-erase::before {
  content: "\e221" !important;
}
li.list-hourglass::before {
  content: "\231b" !important;
}
li.list-lamp::before {
  content: "\e223" !important;
}
li.list-duplicate::before {
  content: "\e224" !important;
}
li.list-piggy-bank::before {
  content: "\e225" !important;
}
li.list-scissors::before {
  content: "\e226" !important;
}
li.list-bitcoin::before {
  content: "\e227" !important;
}
li.list-btc::before {
  content: "\e227" !important;
}
li.list-xbt::before {
  content: "\e227" !important;
}
li.list-yen::before {
  content: "\00a5" !important;
}
li.list-jpy::before {
  content: "\00a5" !important;
}
li.list-ruble::before {
  content: "\20bd" !important;
}
li.list-rub::before {
  content: "\20bd" !important;
}
li.list-scale::before {
  content: "\e230" !important;
}
li.list-ice-lolly::before {
  content: "\e231" !important;
}
li.list-ice-lolly-tasted::before {
  content: "\e232" !important;
}
li.list-education::before {
  content: "\e233" !important;
}
li.list-option-horizontal::before {
  content: "\e234" !important;
}
li.list-option-vertical::before {
  content: "\e235" !important;
}
li.list-menu-hamburger::before {
  content: "\e236" !important;
}
li.list-modal-window::before {
  content: "\e237" !important;
}
li.list-oil::before {
  content: "\e238" !important;
}
li.list-grain::before {
  content: "\e239" !important;
}
li.list-sunglasses::before {
  content: "\e240" !important;
}
li.list-text-size::before {
  content: "\e241" !important;
}
li.list-text-color::before {
  content: "\e242" !important;
}
li.list-text-background::before {
  content: "\e243" !important;
}
li.list-object-align-top::before {
  content: "\e244" !important;
}
li.list-object-align-bottom::before {
  content: "\e245" !important;
}
li.list-object-align-horizontal::before {
  content: "\e246" !important;
}
li.list-object-align-left::before {
  content: "\e247" !important;
}
li.list-object-align-vertical::before {
  content: "\e248" !important;
}
li.list-object-align-right::before {
  content: "\e249" !important;
}
li.list-triangle-right::before {
  content: "\e250" !important;
}
li.list-triangle-left::before {
  content: "\e251" !important;
}
li.list-triangle-bottom::before {
  content: "\e252" !important;
}
li.list-triangle-top::before {
  content: "\e253" !important;
}
li.list-console::before {
  content: "\e254" !important;
}
li.list-superscript::before {
  content: "\e255" !important;
}
li.list-subscript::before {
  content: "\e256" !important;
}
li.list-menu-left::before {
  content: "\e257" !important;
}
li.list-menu-right::before {
  content: "\e258" !important;
}
li.list-menu-down::before {
  content: "\e259" !important;
}
li.list-menu-up::before {
  content: "\e260" !important;
}